In [1]:
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#from library.sb_utils import save_file

In [2]:
coffee_data = pd.read_csv('raw_data/Coffe_sales.csv')

In [3]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   object
 10  Time         3547 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 304.9+ KB

In [4]:
coffee_data.head(20)

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000
5,15,card,33.8,Americano with Milk,Afternoon,Fri,Mar,5,3,2024-03-01,15:39:47.726000
6,16,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,16:19:02.756000
7,18,card,33.8,Americano with Milk,Night,Fri,Mar,5,3,2024-03-01,18:39:03.580000
8,19,card,38.7,Cocoa,Night,Fri,Mar,5,3,2024-03-01,19:22:01.762000
9,19,card,33.8,Americano with Milk,Night,Fri,Mar,5,3,2024-03-01,19:23:15.887000
10,19,card,33.8,Americano with Milk,Night,Fri,Mar,5,3,2024-03-01,19:29:17.391000
11,10,card,28.9,Americano,Morning,Sat,Mar,6,3,2024-03-02,10:22:06.957000
12,10,card,33.8,Americano with Milk,Morning,Sat,Mar,6,3,2024-03-02,10:41:41.249000
13,11,card,33.8,Americano with Milk,Morning,Sat,Mar,6,3,2024-03-02,11:59:45.484000
14,14,card,28.9,Americano,Afternoon,Sat,Mar,6,3,2024-03-02,14:38:35.535000
15,16,card,33.8,Americano with Milk,Afternoon,Sat,Mar,6,3,2024-03-02,16:37:24.475000
16,17,card,28.9,Americano,Night,Sat,Mar,6,3,2024-03-02,17:34:54.969000
17,10,card,38.7,Latte,Morning,Sun,Mar,7,3,2024-03-03,10:27:18.561000
18,11,card,28.9,Cortado,Morning,Sun,Mar,7,3,2024-03-03,11:33:56.118000
19,12,card,28.9,Americano,Afternoon,Sun,Mar,7,3,2024-03-03,12:26:56.098000

In [5]:
#Convert object date column to pd datetime data type
coffee_data['Date'] = pd.to_datetime(coffee_data['Date'])

In [6]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   datetime64[ns]
 10  Time         3547 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 304.9+ KB

In [7]:
coffee_data.isnull().sum()

hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
Time           0
dtype: int64

In [8]:
print(coffee_data['hour_of_day'].sort_values().unique())

[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]

In [9]:
coffee_data['HH'] = coffee_data['Time'].astype(str).str[:2].astype(int)

In [10]:
print(coffee_data[~coffee_data['hour_of_day']==coffee_data['HH']])

Empty DataFrame
Columns: [hour_of_day, cash_type, money, coffee_name, Time_of_Day, Weekday, Month_name, Weekdaysort, Monthsort, Date, Time, HH]
Index: []

In [11]:
print(coffee_data['cash_type'].sort_values().unique())

['card']

In [12]:
coffee_data['money'].describe()

count    3547.000000
mean       31.645216
std         4.877754
min        18.120000
25%        27.920000
50%        32.820000
75%        35.760000
max        38.700000
Name: money, dtype: float64

In [13]:
print(coffee_data['coffee_name'].sort_values().unique())

['Americano' 'Americano with Milk' 'Cappuccino' 'Cocoa' 'Cortado'
 'Espresso' 'Hot Chocolate' 'Latte']

In [14]:
print(coffee_data['Time_of_Day'].sort_values().unique())

['Afternoon' 'Morning' 'Night']

In [15]:
print (coffee_data.loc[ coffee_data['Time_of_Day'] == 'Morning', 'hour_of_day'].sort_values().unique())

[ 6  7  8  9 10 11]

In [16]:
print (coffee_data.loc[ coffee_data['Time_of_Day'] == 'Afternoon', 'hour_of_day'].sort_values().unique())

[12 13 14 15 16]

In [17]:
print (coffee_data.loc[ coffee_data['Time_of_Day'] == 'Night', 'hour_of_day'].sort_values().unique())

[17 18 19 20 21 22]

In [18]:
print (coffee_data[coffee_data['Weekday'] != coffee_data['Date'].dt.day_name().str[:3]])

Empty DataFrame
Columns: [hour_of_day, cash_type, money, coffee_name, Time_of_Day, Weekday, Month_name, Weekdaysort, Monthsort, Date, Time, HH]
Index: []

In [19]:
print (coffee_data[coffee_data['Month_name'] != coffee_data['Date'].dt.month_name().str[:3]])

Empty DataFrame
Columns: [hour_of_day, cash_type, money, coffee_name, Time_of_Day, Weekday, Month_name, Weekdaysort, Monthsort, Date, Time, HH]
Index: []

In [20]:
print(coffee_data['Weekdaysort'].sort_values().unique())

[1 2 3 4 5 6 7]

In [21]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Mon', 'Weekdaysort'].sort_values().unique())

[1]

In [22]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Tue', 'Weekdaysort'].sort_values().unique())

[2]

In [23]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Wed', 'Weekdaysort'].sort_values().unique())

[3]

In [24]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Thu', 'Weekdaysort'].sort_values().unique())

[4]

In [25]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Fri', 'Weekdaysort'].sort_values().unique())

[5]

In [26]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Sat', 'Weekdaysort'].sort_values().unique())

[6]

In [27]:
print (coffee_data.loc[ coffee_data['Weekday'] == 'Sun', 'Weekdaysort'].sort_values().unique())

[7]

In [28]:
print(coffee_data['Monthsort'].sort_values().unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [29]:
print (coffee_data[coffee_data['Monthsort'] != coffee_data['Date'].dt.month])

Empty DataFrame
Columns: [hour_of_day, cash_type, money, coffee_name, Time_of_Day, Weekday, Month_name, Weekdaysort, Monthsort, Date, Time, HH]
Index: []

In [30]:
coffee_data.drop(columns=['HH'], inplace=True)

In [31]:
coffee_data.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [32]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   datetime64[ns]
 10  Time         3547 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 304.9+ KB

In [33]:
dupes = coffee_data.duplicated(subset=['Date', 'Time'])
print(dupes.describe())

count      3547
unique        1
top       False
freq       3547
dtype: object

In [34]:
coffee_data.to_csv('post_dw_coffee_data.csv')